:root {
    --main-color: #F6FBF4;
    --sec-color: #dfd5c0;
    --txt-color: #29460f;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: var(--sec-color);
    overflow-x: hidden;
    position: relative;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: fixed;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 7px 0px black;
    color: var(--txt-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo .logo-img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 25%;
}

nav .nav-links ul {
    display: flex;

}

nav .nav-links ul li {
    cursor: pointer;
    padding: 13px;
}

nav .nav-links ul .active {
    background-color: #29460f;
    color: white;
}

.mainsec {
    width: 100%;
    min-height: 74vh;
    /* this background will change with js */
    background-image: url(../img/resturant.webp);
    background-size: cover;
    transition: 1s ease;
    position: relative;
}

@media (max-width: 1000px) {
    .mainsec {
        height: 50vh;
    }
}

.mainsec h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #f6fbf4d1;
    border: 2px solid var(--txt-color);
    border-radius: 7px;
    cursor: pointer;
    color: var(--txt-color);
}

.disc {
    padding: 10px 30px;
    background-color: var(--main-color);
    color: var(--txt-color);
    box-shadow: -2px 0px 8px var(--txt-color);
    margin-bottom: 10px;
}

.menu {
    display: flex;
    padding: 10px 30px;
    background-color: var(--sec-color);
    overflow-y: scroll;
    /* max-height: 20em; */
}

@media (max-width: 700px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu .menu-list ul {
        display: flex;
    }

    .menu .menu-pic ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.menu .menu-list {
    display: flex;
    flex-direction: column;
}

.menu .menu-list ul li,
.menu .menu-list ul option {
    width: 200px;
    text-align: center;
    padding: 10px 0px;
    background-color: var(--main-color);
    color: var(--txt-color);
    font-weight: 700;
    border: 1px solid var(--txt-color);
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px;
    display: block;
}

.menu .menu-list ul .active {
    background-color: #29460f;
    color: white;
}

.menu .menu-pic ul{
    display: flex;
    flex-wrap: wrap;
}

.menu .menu-pic ul li  {
    transform: .5s ease;
    /* width: 170px;
    max-height: 100px; */
}

.menu .menu-pic ul li img{
    width: 170px;
    max-height: 100px;
    margin: 0 5px;
    cursor: pointer;
    border: 3px solid var(--txt-color);
}

.menu .menu-pic ul .hide  {
    width: 0px;
    height: 0px;
}

.menu .menu-pic .active{
    display: flex;
}

.down-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
} 

.down-menu .down-menu-img {
    width: 95%;
    position: relative;
    background-image: url(../img/menu-5.jpg);
    background-size: cover;
    height: 80vh;
}

.down-menu .down-menu-img::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.54);
    width: 100%;
    height: 100%;
}

.down-menu .down-menu-txt {
    position: absolute;
    color: var(--txt-color);
}

.down-menu .down-btn {
    position: absolute;
    margin-top: 72px;
    padding: 40px;
    background-color: var(--txt-color);
    color: var(--main-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 50px;
}


@media (max-width: 700px) {
    .contact-us {
        flex-direction: column;
    }
}

.contact-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-us .img{
    /* position: relative; */
    cursor: pointer;
}

.contact-us .img img{
    border-radius: 10px;
    border: 1px solid var(--txt-color);
    width: 15em;
    pointer-events: none;
}

.contact-us .img .popup {
    position: fixed;
    border-radius: 50%;
    width: 15%;
    height: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: .5s all ease;
}



.contact-us .img .popup img{
    position: relative;
    width: 70%;
    height: 70%;
    visibility: inherit;
    opacity: inherit;
    border-radius: 11%;
}

.contact-us .img .popup button {
    position: fixed;
    top: 20%;
    right: 20%;
    font-size: 2em;
    background: none;
    border: none;
    opacity: 0.8;
    cursor: pointer;
    color: #ff0202;
}

.contact-us .img .open-pop {
    visibility: visible;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 0;
    background: #000000a8;
}



.contact-us .calls ul li {
    font-size: 2em;
    cursor: pointer;
    transition: .5s ease;
}

.contact-us .calls ul li:hover {
    background-color: gray;
}

.contact-us .calls ul .face { color: blue;}
.contact-us .calls ul .whats { color: green;}
.contact-us .calls ul .email { color: red;}

.contact-us .calls ul li i{
    margin: 0 1em;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

